
<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles_main">
        <app-big-card
        Id="1"
        photoCover="https://static.wikia.nocookie.net/villains/images/8/89/Fsociety_logo_-_Copy.jpg"
        cardTitle="fsociety"
        cardDescription="We are fsociety"
        ></app-big-card>
    </div>
    <div class="articles_subMain">
        <app-small-card
        Id="1"
        cardTitle="fsociety"
        photoCover="https://wallpapercosmos.com/w/full/e/8/4/22100-3840x2160-desktop-4k-mr-robot-background-image.jpg"
        ></app-small-card>
        <app-small-card
        Id="1"
        cardTitle="The invisible hand"
        photoCover="https://wallpapercosmos.com/w/full/e/8/4/22100-3840x2160-desktop-4k-mr-robot-background-image.jpg"
        ></app-small-card>
        <app-small-card
        Id="1"
        cardTitle="We are fsociety"
        photoCover="https://wallpapercosmos.com/w/full/e/8/4/22100-3840x2160-desktop-4k-mr-robot-background-image.jpg"
        ></app-small-card>
    </div>
</div>

<hr/>

